extends layout
block content
  div.mainContainer
    header
      div.logo
        img.logo2(src="http://www.clker.com/cliparts/N/5/f/c/9/D/blue-security-shield-md.png")
        h1 Fortified Health
      div.nav
        h3 
          a(href='landing') Home
        h3  
          a(href='#') Reports
        h3
          a(href='#') Logout 
        div.userInfo
          img(src=user.photo width='60px')
          p #{user.name}
          
    div.controlPanel
      div.pane
        h2.leftFormTitle Patient Information

        h3.menuSelect.menu(id='personInfo') 1. Personal Information
        h3.menuSelect.menu(id='planType') 2. Plan  
        h3.menuSelect.menu(id='healthIssues') 3. Health Issues
      
      div.pane  
        form(action='/add_patient' method='post' role='form')
          .personInfo.patientFields
            .form-group
              label(for='last') Last Name
              input.form-control(type='text' id='last' name='last')
            .form-group
              label(for='first') First Name
              input.form-control(type='text' id='first' name='first')
              .radio-inline
                input(type='radio', id='male', name='gender' value='male')    
                label(for='sex') Male
              .radio-inline
                input(type='radio', id='female', name='gender' value='female')    
                label(for='sex') Female
            .form-group
              label(for='age') Age
              input.form-control(type='text' id='age' name='age')
            .form-group
              label(for='pcp') Primary Care Provider
              input.form-control(type='text' id='pcp' name='pcp')    
            button.btn.btn-primary(type='button' id='continue-perInfo') Continue    
        
          .planType.patientFields
            .form-group
              label(for='enroll') Enrollment Date
              input.form-control(type='date' id='enroll' name='enroll')
            button.btn.btn-primary(type='button' id='continue-planInfo') Continue
        
          .healthIssues.patientFields
            h2 Patient Conditions
            .form-group
              .checkbox  
                label
                  input(type='checkbox' id='dia' class='health'
                  name="diabetes")
                  | Diabetes
              .checkbox    
                label 
                  input.bigBox(type="checkbox", id='osteo' class='health' name="osteoporosis")
                  |Osteporosis
              .checkbox    
                label(for='cancer')
                  input(type="checkbox", id='cancer' class='health'
                  name="cancer" )
                  |Cancer
              .checkbox
                label(for='copd')              
                  input(type='checkbox', id='copd' class='health'
                  name='copd')
                  |COPD
              .checkbox    
                label(for='esrd')
                  input(type='checkbox', id='esrd' class='health'
                  name='esrd')
                  |ESRD  
              .checkbox
                label(for='heart')
                  input(type='checkbox', id='heart', class='health'
                  name='heart')
                  |Heart Attack
              .checkbox
                label(for='fracture')    
                  input(type='checkbox' id='fracture' class='fracture'
                  name='fracture')
                  |Fracture
            .form-group  
              button.btn.btn-default.btn-primary.col-xs-6(type='submit') Submit
